$black: #24292e;
$secondBlack: #475460;
$white: #fff;
$hr: #666;
$background: #f7f5f6;
$blue: #2188ff;
$skills: #e8ecf1;
$grey: #b5babf;
$green: #28a745;
$border: #d9dadb;
$red: #e13545;
$hoverGreen: #2cba4c;
// #155724 color
// #d4edda background
// #c3e6cb border
